.git
.gitignore
.npmignore
.prettierignore
.prettierrc
.vscode
.npmrc
coverage
**/demo
**/mock
**/src
**/docs
**/test
**/scripts
.vite
node_modules
index.html
pnpm-lock.yaml
pnpm-workspace.yaml
yarn.lock
package-lock.json
tsconfig.json
vite.config.ts
vite.*.config.ts
vercel.json
SECURITY.md
index.html
.*
