.git
.gitignore
.npmignore
.prettierignore
.prettierrc
.vscode
.npmrc
coverage
**/demo
mock
**/src
**/docs
**/test
.vite
**/node_modules
index.html
pnpm-lock.yaml
yarn.lock
package-lock.json
tsconfig.json
vite.config.ts

plugins/**/scripts/
plugins/**/src/
plugins/**/package.json
plugins/**/tsconfig.json
